<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../assets/vhhacks-logo.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Flask Starter</title>
</head>
<body>
<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../assets/vhhacks-logo.png" width="30" height="30" class="d-inline-block align-top mr-3"
             alt="">
        Flask Starter
    </a>
</nav>
<div class="container text-center mt-5">
    <div class="row">
        <div class="col text-left">
            <i><b><h1>Here's a bold italicized header in a column</h1></b></i>
            <h4>vhHacks is Greater Vancouver's first free hackathon dedicated to high school students. More than one
                hundred students will gather and collaborate to build and showcase a project in 48 hours. No experience?
                No problem! vhHacks is beginner friendly, so anyone can join to learn, build, and hack.</h4>
            <p>Some paragraph text!</p>
            <a href="https://github.com/Vhhacks/flask-starter" target="_blank"><h4>Here's a link</h4></a>
        </div>
        <div class="col">
            <img src="../assets/dolphin.svg">
            <p>And an image to go with the header!</p>
        </div>
    </div>
    <div class="row my-5">
        <div class="col">
            <h3>A button! </h3>
            <a class="button-blue" onclick="sweetAlertExample()">Click me!</a>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    function sweetAlertExample() {
        Swal.fire({
            icon: 'success',
            title: 'Yay!',
            text: 'You clicked me! 😊',
            imageUrl: '../assets/seal.svg',
            imageWidth: 400,
            imageHeight: 200,
            imageAlt: 'Custom image',
        })
    }
</script>
</body>
</html>